#shopping-cart-full-component {
    height: 100vh;
    background-image: url('./Cart.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SimHei, SimSun;
}

#shopping-cart-component {
    height: 50rem;
    width: 80rem;
    background-image: url('./gray.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    border-radius: 1rem;
    border: 3rem;
    border-style: double;
    border-width: 0.3rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    


}

#shopping-cart-data-component {
    height: 40rem;
    margin-left: 5rem;
    overflow: auto;
    /* border-top: 0.01rem solid ;
    border-bottom: 0.01rem solid ; */
}

#shopping-cart-title-component {
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    margin-left: 8rem;
}

#shopping-cart-title {
    margin-top: 5rem;
    border-bottom: 0.1rem solid ;
    border-color: rgba(107, 100, 80, 0.88);
    padding-bottom: 1rem;
    
}

/* 第一版 */
/* 
.ant-divider-inner-text{
    font-size: 2rem;
}

.ant-list-header{
    font-size: 2rem;
}

.ant-list-item{
    font-size: 1.7rem;
}

.shopping-cart-data{
    margin: 2rem;
}

.ant-list.ant-list-split.ant-list-bordered.ant-list-something-after-last-item.css-dev-only-do-not-override-1kuana8{
    border-width: 0.15rem;
    border-color: rgba(180, 180, 180, 0.88);
} */

/* 第二版 */
.food-component {
    border: 0.1rem solid;
    border-color: rgba(127, 127, 127, 0.88);
    border-radius: 0.3rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    margin-bottom: 1rem;

}

.food-name-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3.5rem;
}

.food-name-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 2.1rem;
}

.food-name-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 0.7rem;
}

.img {
    width: 10rem;
    height: 10rem;
    
}

#menu{
    background-color: rgba(0, 0, 0, 0.88);
}

.send-order-button{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    width: 10rem;
    height: 10rem;
    font-size: 1.6rem;
    text-align: center;
    border-style: ridge;
    border-width: 0.5rem;
    border-radius: 1rem;
    border-color: rgba(150, 150, 150, 0.88);
}

/* price */
#price-text{
    position: relative;
    left: 5rem;
    top: 15rem;
    font-size: 1.2rem;
    border-bottom: 0.15rem solid;
    border-color: rgba(19, 19, 19, 0.88);
    height: 3.7rem;
    margin-right: 0rem;
}

/* back to menu */
#back-to-menu{
    height: 4rem;
    width: 4rem;
    background-image: url("./back.jpg");
    background-size: Cover; 
    position: relative;
    left: 3.8rem;
    top: 22rem;
}

/* #back-to-menu-text{
    position: relative;
    left: 5rem;
    top: 23rem;
} */

#empty-component{
    margin-left: 30rem;
    margin-right: 24rem;
}